html {
    font-size: 1px;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: #fff;
    filter: drop-shadow(0.707rem 0.707rem 4rem rgba(0,0,0,0.12));
}

strong {
    font-size: 20rem;
    line-height: 1.5em;
    color: #0067b8;
}

h1 {
    margin: 0;
    padding: 30rem 0 42rem;
    font-size: 18rem;
    letter-spacing: 1rem;
    line-height: 1.1em;
    text-transform: uppercase;
    color: #0d0d0d;
    font-weight: bold;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 20rem 0 ;
    font-size: 20rem;
    line-height: 1.2em;
    color: #0d0d0d;
    font-weight: bold;
}

#serch {
    display: none;
    padding: 3rem 50rem 3rem 20rem;
    opacity: 0.702;
    font-size: 15rem;
    line-height: 2em;
    color: #262626;
    background-color: #fff;
    border: 1rem solid #999;
    outline: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-menu li:hover>a {
    color: #0067b8;
}

.wrapper {
    margin: 0 15rem;
    max-width: 1171rem;
}

.header-navigation {
    margin: 0 15rem;
}

.burger {
    cursor: pointer;
    display: block;
    padding-top: 20rem;
    height: 30rem;
    position: relative;
    width: 30rem;
}

.burger span,
.burger span:before,
.burger span:after {
    background: #0067b8;
    content: "";
    display: block;
    height: 2rem;
    position: absolute;
    width: 100%;
}

.burger span:before {
    top: 8rem;
}

.burger span:after {
    bottom: -16rem;
}

.mobile {
    width: 100%;
    height: 100%;
    background-color: #999;
    transition: all 1s ease;
}

.active {
    padding: 0;
    padding-bottom: 8rem;
}

.active span{
    background-color: transparent;
}

.active span::before {
    top: 11rem;
    transform: rotate(45deg);
}

.active span::after {
    bottom: -11rem;
    transform: rotate(-45deg);
}

.hidden-menu {
    display: none;
}

.header-menu_logo {
    position: relative;
}

.header-menu_logo p {
    margin: 15rem 0;
}

.header-menu_logo a {
    font-size: 20rem;
    line-height: 1.5em;
    padding: 0 10rem;
    color: #666;
}
    
.header-menu_logo a::before{
    content: "";
    position: absolute;
    top: 39%;
    left: -25%;
    background: url(../img/sprite.png) no-repeat;
    width: 16rem;
    height: 16rem;
    background-position: -38rem -2rem;
}

.menu-hidden li:hover>a {
    color: #0067b8;
    text-decoration: underline;
    background-color: #f2f2f2;
}

.menu-nav_li_a,
.menu-li_dop {
    padding: 16rem 28rem;
    display: block;
    font-size: 15rem;
    line-height: 2em;
    color: #262626;
}

.menu-li_dop {
    position: relative;
}

.menu-li_dop::after {
    content: "";
    position: absolute;
    width: 6rem;
    height: 6rem;
    border-bottom: 1rem solid #262626;
    border-right: 1rem solid #262626;
    transform: rotate(-45deg);
    top: 45%;
    right: 4%;
}

.menu-nav_li:hover>.menu-li_dop::after {
    content: "";
    position: absolute;
    width: 6rem;
    height: 6rem;
    border-bottom: 1rem solid #262626;
    border-right: 1rem solid #262626;
    transform: rotate(45deg);
    top: 45%;
    right: 4%;
}

.menu-nav_hidden {
    display: none;
    background-color: #f2f2f2;
}

.menu-nav_hidden {
    position: absolute;
    top: 100%;
    right: 0;
}

.menu-li_foot {
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
    background-color: #e6e6e6;
    position: absolute;
    bottom: 0;
}

.menu-foot {
    margin: 0;
    padding: 14rem 0;
    position: relative;
}

.menu-foot a {
    font-size: 14rem;
    letter-spacing: 1rem;
    line-height: 1.7em;
    text-transform: uppercase;
    color: #262626;
}

.menu-foot a::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 55%;
    width: 7rem;
    height: 7rem;
    border-bottom: 1rem solid #262626;
    border-right: 1rem solid #262626;
    transform: rotate(-45deg);
}

ul.aside-nav {
    margin: 0;
}

.aside-nav .menu-nav_li:hover {
    background-color: #f2f2f2;
}

.menu-nav_li:hover>.menu-nav_hidden {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50rem;
}

.menu-hidden_head,
.menu-hidden_head-a {
    margin: 0;
    max-width: 108rem;
    padding: 37rem 0;
    font-size: 15rem;
    line-height: 1.4em;
    color: #262626;
    font-weight: bold;
}

.menu-hidden_head-a {
    padding-bottom: 17rem;
}

.menu-hidden {
    margin: 0;
    padding: 0 0 100rem 0;
    max-width: 200rem;
    height: 90;
}

.menu-hidden li {
    padding-bottom: 15rem;
}

.menu-hidden a {
    font-size: 15rem;
    line-height: 1.3em;
    color: #616161;
}

.form-exit {
    display: none;
}

.serch-input {
    align-items: center;
    justify-content: center;
    position: relative;
}
  
.serch-input a {
    display: block;
    width: 15rem;
    height: 15rem;
    background: url(../img/sprite.png) no-repeat;
}

a.serch {
    background-position: -21rem -2rem;
    width: 15rem;
    height: 15rem;
    position: absolute;
    right: 20rem;
    bottom: 22rem;
}

.serch-input span:hover>a {
    background-position: -21rem -19rem ;
    width: 15rem;
    height: 15rem;
    position: absolute;
    right: 20rem;
    bottom: 22rem;
}

.serch-nav {
    margin: 20rem;
}

.serch-nav a {
    display: block;
    width: 19rem;
    height: 16rem;
    background: url(../img/sprite.png) no-repeat;
}

.serch-nav span:hover>.bask {
    background-position: 0 -17rem;
    width: 19rem;
    height: 16rem;
}

.exit-form {
    margin: 15rem 20rem;
}

.exit {
    padding-right: 50rem;
    font-size: 15rem;
    line-height: 2em;
    color: #262626;
}

.serch-form .exit-form:hover .exit {
    color: #0067b8;
}

.wrap {
    width: 100%;
    background: url(../img/bckgr-first.jpg) no-repeat;
}

.writes {
    display: block;
}

.arrow-span {
    padding-top: 30rem;
    flex-direction: column;
    align-items: flex-end;
}

.span-left,
.span-right {
    position: relative;
}

.span-left a,
.span-right a {
    display: block;
    padding: 25rem;
    background-color: #0d0d0d;
}

.arrowleft::after {
    content: "";
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-bottom: 1rem solid #fff;
    border-right: 1rem solid #fff;
    transform: rotate(-45deg); 
    left: 40%;
    bottom: 40%;
}

.arrowright::before {
    content: "";
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-bottom: 1rem solid #fff;
    border-right: 1rem solid #fff;
    transform: rotate(135deg);
    left: 45%;
    bottom: 40%;
}

.wrap:hover>.arrowleft {
    background-image: url(../img/secondbcg.jpg);
}

.arrowleft:hover,
.arrowright:hover {
    opacity: 0.7;
}

.writes {
    padding: 15rem  0 0 15rem;
}

.hd {
    margin: 0;
    font-size: 30rem;
    line-height: 1.05em;
    color: #fff;
    font-weight: bold;
}
 
.txt {
    margin: 0;
    padding: 22rem 0 30rem;
    max-width: 364rem;
    font-size: 16rem;
    line-height: 1.5em;
    color: #fff;
}

.bott a {
    padding: 16rem 50rem 15rem 26rem;
    color: #262626;
    background-color: #fff;
    font-size: 14rem;
    letter-spacing: 1rem;
    line-height: 1.7em;
    text-transform: uppercase;
    position: relative;
}
/* arrow */
.bott a::after {
    content: "";
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-bottom: 1rem solid #262626;
    border-right: 1rem solid #262626;
    transform: rotate(-45deg);
    top: 40%;
    left: 85%;
}

.bott:hover>a {
    background-color: #0067b8;
    color: #fff;
    border-radius: 10rem;
    transition-duration: 0.5s;
}

figure {
    margin: 0;
    padding: 15rem;
    max-width: 270rem;
}

.service {
    margin-bottom: 67rem;
    justify-content: center;
}

.service p {
    max-width: 256rem;
    height: 70rem;
    margin: 0;
    padding: 0 40rem 18rem 0;
    font-size: 15rem;
    line-height: 21rem;
    color: #262626;
}

.service a {
    font-size: 13rem;
    letter-spacing: 1rem;
    line-height: 1.5em;
    color: #0067b8;
    text-decoration: none;
    text-transform: uppercase;
}

.service p:hover>a{
    text-decoration: underline;
}

.fig-a,
.fig-b,
.fig-c,
.fig-e {
    position: relative;
}

.fig-a::after,
.fig-c::after,
.fig-e::after {
    content: "";
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-bottom: 1rem solid #227bc1;
    border-right: 1rem solid #227bc1;
    transform: rotate(-45deg);
    top: 10%;
}

.fig-b::after {
    content: "";
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-bottom: 1rem solid #227bc1;
    border-right: 1rem solid #227bc1;
    transform: rotate(-45deg);
    top: 37%;
    right: 58%;
}

.wrap-child {
    padding: 15rem 0 30rem 15rem;
    background: url(../img/background-last.jpg) no-repeat;
}

.wrap-head_child {
    margin: 0;
    max-width: 450rem;
    height: 85rem;
    font-size: 32rem;
    line-height: 1.05em;
    color: #0d0d0d;
}

.propose {
    max-width: 467rem;
    font-size: 16rem;
    line-height: 24rem;
    color: #0d0d0d;
}

.bott-last {
    margin: 0;
    padding-top: 30rem;
}

.bott-last a {
    position: relative;
    padding: 16rem 50rem 15rem 26rem;
    color: #fff;
    font-size: 14rem;
    letter-spacing: 1rem;
    line-height: 1.7em;
    text-transform: uppercase;
    background-color: #0d0d0d;
    text-align: center;
}

.bott-last a::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 85%;
    width: 8rem;
    height: 8rem;
    border-bottom: 1rem solid #fff;
    border-right: 1rem solid #fff;
    transform: rotate(-45deg);
}

.bott-last:hover>a {
    background-color: #0067b8;
    border-radius: 10rem;
    transition-duration: 0.5s;
}

.section-social {
    margin: 0;
    padding: 52rem 0 16rem;
    opacity: 0.702;
    font-size: 15rem;
    line-height: 30rem;
    color: #262626;
    text-align: center;
}

.web {
    padding-bottom: 54rem;
    justify-content: center;
    align-items: center;
    column-gap: 15rem;
}

.web .web-bott-exp:hover,
.web .web-bott-chrome:hover,
.web .web-bott-opera:hover {
    background-color: #0d0d0d;
    border-radius: 25%;
    transition: 1s ease 0s all;
}

.web-bott-exp,
.web-bott-chrome,
.web-bott-opera {
    margin: 0;
    width: 36rem;
    height: 36rem;
    position: relative;
}

.web-bott-exp {
    background-color: #425daa;
}

.web-bott-chrome {
    background-color: #55acee;
}

.web-bott-opera {
    background-color: #ed2b2f;
}

a.exp::before,
a.chrome::before,
a.opera::before {
    content: "";
    background: url(../img/sprite.png) no-repeat;
    top: 25%;
    left: 25%;
    width: 19rem;
    height: 19rem;
    position: absolute;
}

a.exp::before {
    background-position: -94rem -2rem;
}

a.chrome::before {
    background-position: -56rem -2rem;
}

a.opera::before {
    background-position: -75rem -2rem;
}

footer {
    margin: 0 auto;
    background-color: #f2f2f2;
}

.bottom-menu {
    padding: 58rem 0 0;
    column-gap: 30rem;
}

.bottom-menu p {
    margin: 0;
    font-size: 15rem;
    line-height: 1.6em;
    color: #616161;
    font-weight: bold;
}

.bottom-menu li {
    padding-bottom: 10rem;
}

.bottom-menu a {
    font-size: 13rem;
    line-height: 1.5em;
    color: #616161;
}

.bottom-menu li:hover>a {
    text-decoration: underline;
}

.bottom-menu nav > ul {
    padding: 0;
}

.last {
    padding-top: 74rem;
    padding-bottom: 25rem;
}

.language p {
    margin: 0;
    padding-left: 25rem;
    position: relative;
}

.lang {
    font-size: 12rem;
    line-height: 1.6em;
    color: #616161;
}

.lang::before {
    content: "";
    background: url(../img/sprite.png) no-repeat;
    background-position: -113rem -1rem;
    width: 14rem;
    height: 14rem;
    position: absolute;
    top: 7%;
    left: 2rem;
}

.foot ul {
    margin: 0;
}

.foot a {
    padding-left: 27rem;
    font-size: 12rem;
    line-height: 1.6em;
    color: #616161;
}

.foot a:hover,
.last a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 525px) {
    h1 {
        margin: 0;
        padding: 30rem 0 42rem;
        font-size: 22rem;
        letter-spacing: 1rem;
        line-height: 1.1em;
        text-transform: uppercase;
        color: #0d0d0d;
        font-weight: bold;
        text-align: center;
    }
    .wrap-child {
        padding: 163rem 0 146rem 70rem;
    }

    .wrap-head_child {
        font-size: 46rem;
    }

    .writes {
        padding: 189rem 0 169rem 70rem;
    }

    .hd {
        font-size: 46rem;
    }

    .arrow-span {
        padding-top: 37rem;
    }
}

@media screen and (min-width: 768px) {
    #serch {
        display: block;
        padding: 3rem 50rem 3rem 20rem;
        opacity: 0.702;
        font-size: 15rem;
        line-height: 2em;
        color: #262626;
        background-color: #fff;
        border: 1rem solid #999;
        outline: none;
    }

    .flex-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .header-navigation {
        margin: 0 50rem;
    }
    
    .burger,
    .mobile-menu {
        display: none;
    }

    .hidden-menu {
        display: flex;
    }

    .serch-form {
        display: flex;
    }
    .wrap {
        width: 100%;
        max-height: 540rem;
        margin: 40rem 0;
        background-image: url(../img/bckgr-first.jpg);
    }
}

@media screen and (min-width: 1200px) {
    figure {
        padding: 0;
        max-width: 270rem;
    }

    .wrapper {
        margin: 0 auto;
    }


    .service {
        justify-content: space-between;
    }

    .serch-form {
        column-gap: 15rem;
    }
}