body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    margin: 0 auto;
    max-width: 1600px;
    height: 60px;
    filter: drop-shadow(0.707px 0.707px 4px rgba(0,0,0,0.12));
    box-shadow: inset 0px -1px 0px #e6e6e6;
    background-color: #fff;
    position: relative;
}

strong {
    font-size: 20px;
    line-height: 1.5em;
    color: #0067b8;
}

#serch {
    padding: 3px 50px 3px 20px;
    opacity: 0.702;
    font-size: 15px;
    line-height: 2em;
    color: #262626;
    background-color: #fff;
    border: 1px solid #999;
    outline: none;
}

.main-menu li:hover>a {
    color: #0067b8;
}

.header-wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header-menu_logo {
    position: relative;
}

.header-menu_logo p {
    margin: 0 30px;
    padding: 15px 0;
    font-size: 20px;
    line-height: 1.5em;
    color: #666;
}

.header-menu_logo a {
    padding: 0 10px;
    color: #666;
}
    
.menu_logo a::before{
    content: "";
    position: absolute;
    top: 35%;
    left: 10%;
    background: url(../img/sprite.png) no-repeat;
    width: 16px;
    height: 16px;
    background-position: -38px -2px;
}

.menu {
    margin: 0 50px;
    display: flex;
}

.aside-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
   
}

.menu-hidden li:hover>a {
    color: #0067b8;
    text-decoration: underline;
    background-color: #f2f2f2;
}


.menu-nav_li_a,
.menu-li_dop {
    padding: 14.5px 28px;
    display: block;
    font-size: 15px;
    line-height: 2em;
    color: #262626;
}

.menu-li_dop {
    position: relative;
}

.menu-li_dop::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #262626;
    border-right: 1px solid #262626;
    transform: rotate(-45deg);
    top: 45%;
    right: 4%;
}


.menu-nav_li:hover>.menu-li_dop::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #262626;
    border-right: 1px solid #262626;
    transform: rotate(45deg);
    top: 45%;
    right: 4%;
}

.menu-nav_hidden {
    display: none;
    background-color: #f2f2f2;
}

.menu-nav_hidden {
    position: absolute;
    top: 100%;
    right: 0;
}

.hidden-nav_p {
    display: flex;
    flex-direction: row;
}

.menu-li_foot {
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
    background-color: #e6e6e6;
    position: absolute;
    bottom: 0;
}

.menu-foot {
    margin: 0;
    padding: 14px 0;
    position: relative;
}

.menu-foot a {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.7em;
    text-transform: uppercase;
    color: #262626;
}

.menu-foot a::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-bottom: 1px solid #262626;
    border-right: 1px solid #262626;
    transform: rotate(-45deg);
    top: 40%;
    left: 55%;
}

.aside-nav .menu-nav_li:hover {
    background-color: #f2f2f2;
}

.menu-nav_li:hover>.menu-nav_hidden {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.menu-hidden_head,
.menu-hidden_head-a {
    margin: 0;
    max-width: 108px;
    padding: 37px 0;
    font-size: 15px;
    line-height: 1.4em;
    color: #262626;
    font-weight: bold;
}

.menu-hidden_head-a {
    padding-bottom: 17px;
}

.menu-hidden {
    margin: 0;
    padding: 0 0 100px 0;
    max-width: 200px;
    height: 90;
}

.menu-hidden li {
    padding-bottom: 15px;
}

.menu-hidden a {
    font-size: 15px;
    line-height: 1.3em;
    color: #616161;
}

.form-exit {
    display: none;
}

.serch-form {
    display: flex;
    column-gap: 15px;
}

.serch-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
.serch-input a {
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/sprite.png) no-repeat;
}

a.serch {
    background-position: -21px -2px;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 20px;
    bottom: 22px;
}

.serch-input span:hover>a {
    background-position: -21px -19px ;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 20px;
    bottom: 22px;
}

.serch-nav {
    margin: 20px;
}

.serch-nav a {
    display: block;
    width: 19px;
    height: 16px;
    background: url(../img/sprite.png) no-repeat;
}


.serch-nav span:hover>.bask {
    background-position: 0 -17px;
    width: 19px;
    height: 16px;
}

.exit-form {
    margin: 15px 20px;
}

.exit {
    padding-right: 50px;
    font-size: 15px;
    line-height: 2em;
    color: #262626;
}

.serch-form .exit-form:hover .exit {
    color: #0067b8;
}

main {
    max-width: 1171px;
    margin: 0 auto;
}

.wrap {
    max-width: 1170px;
    max-height: 540px;
    margin: 40px 0;
    background-image: url(../img/bckgr-first.jpg);
}

.writes {
    display: block;
}

.arrow-span {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.span-left,
.span-right {
    position: relative;
}


.span-left a,
.span-right a {
    display: block;
    padding: 25px;
    background-color: #0d0d0d;
}

.arrowleft::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(-45deg); 
    left: 40%;
    bottom: 40%;
}

.arrowright::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(135deg);
    left: 45%;
    bottom: 40%;
}

.wrap:hover>.arrowleft {
    background-image: url(../img/secondbcg.jpg);
}

.arrowleft:hover,
.arrowright:hover {
    opacity: 0.7;
}

.hd {
    margin: 0;
    padding: 189px 0 22px 70px;
    font-size: 46px;
    line-height: 1.05em;
    color: #fff;
    font-weight: bold;
}
 
.txt {
    max-width: 364px;
    height: 40px;
    margin: 0;
    padding: 0 30px 0 70px ;
    font-size: 16px;
    line-height: 1.5em;
    color: #fff;
}

.bott {
    padding: 30px 0 0 70px;
}

.bott a {
    padding: 16px 50px 15px 26px;
    color: #262626;
    background-color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.7em;
    text-transform: uppercase;
    position: relative;
}
/* arrow */
.bott a::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #262626;
    border-right: 1px solid #262626;
    transform: rotate(-45deg);
    top: 40%;
    left: 85%;
}

.bott:hover>a {
    background-color: #0067b8;
    color: #fff;
    border-radius: 10px;
    transition-duration: 0.5s;
}

h1 {
    margin: 0;
    padding: 30px 0 42px;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 1.1em;
    text-transform: uppercase;
    color: #0d0d0d;
    font-weight: bold;
    text-align: center;
}

.service {
    margin-bottom: 67px;
    display: flex;
    flex-direction: row;;
}

h2 {
    margin: 0;
    padding: 20px 0 ;
    font-size: 20px;
    line-height: 1.2em;
    color: #0d0d0d;
    font-weight: bold;
}

.service p {
    width: 256px;
    height: 60px;
    margin: 0;
    padding: 0 40px 18px 0;
    font-size: 15px;
    line-height: 21px;
    color: #262626;
}

.service a {
    margin: 0;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #0067b8;
}

.service p:hover>a{
    text-decoration: underline;
}

.fig-a,
.fig-b,
.fig-c,
.fig-e {
    position: relative;
}

.fig-a::after,
.fig-c::after,
.fig-e::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #227bc1;
    border-right: 1px solid #227bc1;
    transform: rotate(-45deg);
    top: 10%;
}

.fig-b::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #227bc1;
    border-right: 1px solid #227bc1;
    transform: rotate(-45deg);
    top: 37%;
    right: 58%;
}

.store, 
.huawei,
.onetouch,
.adapt-device {
    margin: 0;
    padding: 0;
    width: 100%;
}

.wrap-child {
    width: 1170px;
    height: 540px;
    background-image: url(../img/background-last.jpg);
}

.wrap-head {
    margin: 0;
    padding: 163px 0 30px 70px;
}

.wrap-head_child {
    max-width: 450px;
    height: 85px;
    margin: 0;
    font-size: 46px;
    line-height: 1.05em;
    color: #0d0d0d;
}

.wrap-child a {
    width: 230px;
    height: 45px;
    padding: 16px 50px 15px 26px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.7em;
    text-transform: uppercase;
    background-color: #0d0d0d;
    text-align: center;
    position: relative;
}

.propose {
    width: 467px;
    height: 46px;
    margin: 0;
    padding-left: 70px;
    font-size: 16px;
    line-height: 24px;
    color: #0d0d0d;
}

.bott-last {
    margin: 0;
    padding: 30px 0 146px 70px;
}

.bott-last a::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(-45deg);
    top: 40%;
    left: 85%;
}

.bott-last:hover>a {
    background-color: #0067b8;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.section-social {
    margin: 0;
    padding: 52px 0 16px;
    opacity: 0.702;
    font-size: 15px;
    line-height: 30px;
    color: #262626;
    text-align: center;
}

.web {
    padding-bottom: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 15px;
}

.web .web-bott-exp:hover,
.web .web-bott-chrome:hover,
.web .web-bott-opera:hover {
    background-color: #0d0d0d;
    border-radius: 25%;
    transition: 1s ease 0s all;
}

.web-bott-exp {
    margin: 0;
    background-color: #425daa;
    width: 36px;
    height: 36px;
    position: relative;
}

.web-bott-chrome {
    margin: 0;
    background-color: #55acee;
    width: 36px;
    height: 36px;
    position: relative;
}

.web-bott-opera {
    margin: 0;
    background-color: #ed2b2f;
    width: 36px;
    height: 36px;
    position: relative;
}

a.exp::before {
    content: "";
    background: url(../img/sprite.png) no-repeat;
    top: 20%;
    left: 20%;
    width: 19px;
    height: 19px;
    position: absolute;
    background-position: -94px -2px;
}

a.chrome::before {
    content: "";
    background: url(../img/sprite.png) no-repeat;
    top: 20%;
    left: 20%;
    width: 19px;
    height: 19px;
    position: absolute;
    background-position: -56px -2px;
}

a.opera::before {
    content: "";
    background: url(../img/sprite.png) no-repeat;
    top: 20%;
    left: 20%;
    width: 19px;
    height: 19px;
    position: absolute;
    background-position: -75px -2px;
}

footer {
    margin: 0 auto;
    background-color: #f2f2f2;
}

.bottom-menu {
    padding: 58px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.bottom-menu p {
    margin: 0;
    font-size: 15px;
    line-height: 1.6em;
    color: #616161;
    font-weight: bold;
}

.bottom-menu li {
    padding-bottom: 10px;
}

.bottom-menu a {
    margin: 0;
    font-size: 13px;
    line-height: 1.5em;
    color: #616161;
}

.bottom-menu li:hover>a {
    text-decoration: underline;
}

.new ul,
.develop ul {
    width: 170px;
    height: 108px;
    padding: 0;
}

.supp ul,
.business ul,
.company ul {
    width: 170px;
    height: 180px;
    padding: 0;
}

.education ul {
    width: 170px;
    height: 130px;
    padding: 0;
}

.last {
    max-width: 1171px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.language p {
    margin: 0;
    padding-bottom: 10px;
    position: relative;
}

.lang {
    font-size: 12px;
    line-height: 1.6em;
    color: #616161;
}

.lang::before {
    content: "";
    background: url(../img/sprite.png) no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
}

.foot ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.foot a {
    padding-left: 27px;
    font-size: 12px;
    line-height: 1.6em;
    color: #616161;
}

.foot a:hover,
.last a:hover {
    text-decoration: underline;
}